# =====================
# Archivos generados / binarios
# =====================

# PyInstaller
/build/
/dist/
*.exe

# Datos locales del cliente
.data/

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo

# =====================
# Sistema / IDE
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/
